* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  background-color: lightslategrey;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  color: white;

  /* width: 100vw; */
}

.app-container ul {
  display: flex;
  justify-content: space-between;
  /* background-color: yellow; */
  width: 410px;
}

.app-container ul li {
  list-style: none;
}

li a {
  border-radius: 12px;
  text-decoration: none;
  color: white;
  /* background-color: antiquewhite; */
  padding: 17px;
  cursor: pointer;
}

.active {
  background-color: red;
}

nav h1 {
  letter-spacing: 2px;
}
