<div class="app-container">
  <nav>
    <app-menu></app-menu>
    <h1>app</h1>
    <ul>
      <li>
        <a routerLinkActive="active" routerLink="/dashboard">Dashboard</a>
      </li>
      <li><a routerLinkActive="active" routerLink="/home">Home</a></li>
      <li><a routerLinkActive="active" routerLink="/about">About</a></li>
      <li><a routerLinkActive="active" routerLink="/contact">Contact</a></li>
      <li>
        <a
          *ngIf="!auth.isLoggedIn() || isLoginRoute"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="active"
          routerLink="/"
          >Login</a
        >
      </li>
      <li *ngIf="auth.isLoggedIn() && !isLoginRoute">
        <a href="#" (click)="logout()">Logout</a>
      </li>
    </ul>
  </nav>
</div>
<router-outlet />
